body{
    margin: 0px;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 80%;
    height: 80px ;
    margin: auto;
    margin-top: 30px;
    display: flex;
}
.deals{
    text-transform: uppercase;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255, 255, 255, 255);
    margin: 0px;
    margin-top:20px ;
}
.reg{
    display: flex;
    width: 445px;
    height: 50px;
    margin-left: 459px;
}
.sign-in{
    margin: 0px;
    color: white;
    border-right: 1px solid;
    width: 60px;
    font-family:'Roboto Condensed', sans-serif;
}
.sign-up{
    margin:0px;
    color: white;
    width: 60px;
    font-family:'Roboto Condensed', sans-serif;
}
.reg-a{
    margin-top: 20px;
    text-decoration: none;
    height: 19px;
    width: 51px;
}
.reg-a1{
    margin-top: 20px;
    text-decoration: none;
    height: 19px;
    width: 51px;
    margin-left: 20px;
}
.reg-div{
    display: flex;
    height: 100%;
    width: 280px;
    background-color: white;
    margin-left:41px ;
    border-radius: 4px;
}
.reg-div img{
    margin-top: 10px;
    margin-left: 15px;
    width: 30px;
    height: 32px;
}
.reg-div p{
    font-family:'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: rgba(77, 77, 77, 255);
    margin: 0px;
    margin-top: 14px;
    margin-left: 10px;
}
.header-button a{
    height: 30px;
    width: 114px;
    display: block;
    text-align: center;
    border-radius: 4px;
    background: linear-gradient(to bottom, #4587cd 0%, #164e8b 100%);
    line-height: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 43px;
}
.checkout{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    color: white;
}
/*------------------main---------------------------------*/
main{
    display: flex;
    width: 80%;
    height:1020px;
    margin: auto;
}
.info{
    width:30%;
    height: 1021px;
}
.main-text{
    width:70%;
    height:100%;
    border-right: 1px solid #dddddd;
    background-color: white;
}
.todays-deals{
    width:30%;
    background-color: white;
    height: 1020px;
}
.vds{
    text-align: center;
    display: flex;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom right, #5994d3 0%, #2871c1 30%, #18579a 100% );
}
.vds-p{
    width: 80px;
    border-right: 1px solid white;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    margin-top: 22px;
    margin-left:10px;
}
.vds-p1{
    width: 100px;
    border-right: 1px solid white;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    margin-top: 22px;
}
.vds-p2{
    width: 80px;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    margin-top: 22px;
}
.number{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}

.time-left{
    background-color: #10447b;
    width:100%;
    height:80px;
}
.time-left-p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    margin: 0px;
    padding-top: 10px;
    padding-left: 40px;
}
.time-left-p1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    margin: 0px;
    padding-left: 40px;
    margin-top:5px;
}
.dhms{
    display: flex;
    height: 30px;
    width: 100%;
    background: linear-gradient(to bottom right, #5994d3 0%, #2871c1 30%, #18579a 100% );
}
.dhms-p{
    padding-left: 40px;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 8px;
}
.dhms-p1{
    padding-left: 30px;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 8px;
}
.dollars{
    width: 100%;
    height: 100px;
    background: linear-gradient(to top left, #083565 0%, #134a86 20%, #185798 100%);
}
.dollars p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 61px;
    color: rgba(255, 255, 255, 255);
    margin: 0px;
    text-align: center;
    line-height: 100px;
}
.buy-now{
    background-image: url(img/line.png);
    width:121%;
    height: 88px;
    margin-left: -60px;
}
.buy-now-button a{
    height: 50px;
    width: 207px;
    display: block;
    text-align: center;
    border-radius: 4px;
    background: linear-gradient(to bottom, #4587cd 0%, #164e8b 100%);
    line-height: 50px;
    text-decoration: none;
}
.buy-button{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
}
.buy-now-button{
    padding-top: 19px;
    margin-left: 100px;
}
.recomended{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom left, #083565 0%, #134a86 20%, #185798 100%);
}
.recomended p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: 0px;
    padding-top:20px;
}
.recomended img{
    display: block;
    margin: auto;
    margin-top:10px;
}
.map{
    background-image: url(img/map.png);
    width: 100%;
    height:280px;
}
.map iframe{
    width: 100%;
    height:280px;
}
.vk{
    background-image: url(img/vk.png);
    background-size: cover;
    height: 246px;
    width: 100%;
    padding-right: 2px;
    margin-left: -2px;
}
.vk p{
    margin:0px;
    padding-left: 73px;
    padding-top: 13px;
    font-size: 15px;
    color: rgba(58, 112, 172, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
/*------------------------main-text------------------------*/
.navigation{
    display: flex;
    width:805px;
    margin-left: 432px;
    margin-top:20px;
}
nav{
    display: flex;
    width: 68%;
    height:38px;
    border: 1px solid black;
    border-radius:6px 6px 0px 0px ;
    background:linear-gradient(to bottom, #fdfdfd 0%, #c3c3c3 100%) ;
}
.nav-div{
    display: block;
    width:33.3%;
    height: 39px;
    border-right: 1px solid white;
    line-height:9px;
    text-decoration: none;
}
.nav-div1{
    display: block;
    width:33.3%;
    height: 39px;
    border-right: 1px solid white;
    line-height:9px;
    text-decoration: none;
}
.nav-div3{
    display: block;
    width:33.3%;
    height: 39px;
    line-height:9px;
    text-decoration: none;
}
.nav-div2{
    display: flex;
    width:128px;
    height: 39px;
    line-height:9px;
    text-decoration: none;
    margin-left:50px ;
}
.nav-div2 img{
    display: none;
    width: 8px;
    height: 7px;
    margin-top: 18px;
    margin-left: 10px;
}
.nav-div2 p{
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-div p{
    font-size: 16px;
    color: rgba(60, 60, 60, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 63%;
    margin: 0px;
    padding-top: 15px;
}
.nav-div1 p{
    font-size: 16px;
    color: rgba(60, 60, 60, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 63%;
    margin: 0px;
    padding-top: 15px;
}
.nav-div3 p{
    font-size: 16px;
    color: rgba(60, 60, 60, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 63%;
    margin: 0px;
    padding-top: 15px;
}

.nav-div:hover{
    background:linear-gradient(to bottom, #85afdd 0%, #174f8c 100%);
    border-radius:6px 0px 0px 0px  ;
}
.nav-div1:hover{
    background:linear-gradient(to bottom, #85afdd 0%, #174f8c 100%);
}
.nav-div3:hover{
    background:linear-gradient(to bottom, #85afdd 0%, #174f8c 100%);
    border-radius:0px 6px 0px 0px  ;
}
.nav-div2:hover img{
    display: block;
}
.nav-div>p:hover{
    color:white;
}
.nav-div3>p:hover{
    color:white;
}
.nav-div1>p:hover{
    color:white;
}
/*----------------------------main-text-------------------*/
.main-text section{
    width: 90%;
    height: 93%;
    margin: auto;
    margin-top:40px;
}
.blue-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: rgba(25, 83, 144, 255);
}
.bottle{
    width: 100%;
}
.main-t-t1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(94, 94, 94, 255);
    text-align: justify;
}
.m-div{
    display: flex;
    width: 100%;
    height: 169px;
}
.div-for-img{
    background-image: url(img/img1.png);
    background-repeat: no-repeat;
    width:50%;
}
.div-for-text{
    width: 57%;
    margin-left:16px;
}
.d-f-t-child{
    width: 100%;
    height: 40%;
}
.d-f-t-child1{
    width: 100%;
    height: 60%;
}
.d-f-t-child-p{
    margin:0px;
    font-size: 19px;
    color: rgba(94, 94, 94, 255);
    font-family: 'Roboto Condensed', sans-serif;
}
.d-f-t-child-p1{
    margin: 0px;
    margin-top:5px;
    font-size: 26px;
    color: rgba(46, 43, 43, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.d-f-t-child1 img{
    margin-top:14px;
}
.address{
    margin: 0px;
    margin-right: 168px;
    font-size: 19px;
    color: rgba(94, 94, 94, 255);
    font-family: 'Roboto Condensed', sans-serif;
    float:right;
}
.address1{
    margin-right:40px;
    margin-top: -61px;
    font-size: 17px;
    color: rgba(94, 94, 94, 255);
    font-family: 'Roboto Condensed', sans-serif;
    float:right;
}
.large-text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13pt;
    color: rgba(94, 94, 94, 255);
    text-align: justify;
}
.p1{
    font-size: 22px;
    color: rgba(25, 83, 144, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-left:20px;
}
.p2{
    font-size: 16px;
    color: rgba(31, 99, 173, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-left:24px;
    margin-top:-10px;
}
.vds1{
    text-align: center;
    display: flex;
    height: 100px;
    width: 100%;
}
.vds-p-p{
    width: 80px;
    border-right: 1px solid white;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #195390;
    margin-top: 22px;
    margin-left:10px;
}
.vds-p1-p1{
    width: 100px;
    border-right: 1px solid white;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #195390;
    margin-top: 22px;
}
.vds-p2-p2{
    width: 80px;
    height: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #195390;
    margin-top: 22px;
}
.number1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
}
.all-info1{
    margin-top: -20px;
}
.repeat{
    display: flex;
    height: 80px;
    width: 231px;
    margin: auto;
    border-bottom:1px solid #ededed ;
}
.img-repeat{
    width: 93px;
    height: 70px;
    background-image: url(img/img3.png);
    margin-top: -14px;
}
.img-of-text-repeat{
    margin-top: -14px;
    margin-left: 19px;
}
.time-left1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: rgba(105, 105, 105, 255);
    margin: 0px;
    margin-left: 19px;
}
.time{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: rgba(46, 43, 43, 255);
    margin: 0px;
    margin-left: 19px;
}
footer{
    display: flex;
    height: 59px;
    margin-top: 9px;
}
footer p{
    margin-left: 600px;
    display: flex;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
}
footer div{
    display: flex;
}
.footer-a1{
    margin-left:5px;
}
.footer-a{
    margin-left: 406px;
}












