body{
    margin:0px;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 760px;
    background-image: url(img/Layer\ 21@1X.png);
    background-size: 100% 100%;
}
.margin-top150px{
    margin-top: 150px;
}
.h-div1{
    background-image: url(img/Composed-layer@1X.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    width:175px;
    height:35px;
    padding-top: 400px;
    padding-left: 476px;
}
.h-p1{
    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top:5px;
    margin-left: 300px;
}
.h-div2{
    background-color: rgb(51, 66, 66, 0.4);
    width: 831px;
    height: 100px;
    border: 1px solid black;
    border-color: cornsilk;
    margin-left: 300px;
}
.h-div2 img{
    padding-top: 30px;
    padding-left: 30px ;
}
.center{
    width: 100%;
}
.c-p1{
    text-align: center;
    margin-top: 70px;
}
.c-p2{
    text-align: center;
    margin-top: 50px;
    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 17pt;
    color: rgba(77, 73, 67, 255);
    text-align: center;
}
.c-p3{
    text-align: center;
}
.c-p4{
    margin-top: 40px;
    text-align: center;
}
.c-div1{
    display: flex;
    margin:auto;
    width: 80%;
    height: 60px;
}
.c-p4{
    margin-top: 40px;
    text-align: center;
}
.c-p5{
    margin-left: 30px;
}
.a-hov{
    display: block;
    height: 30px;
    font-family: ﻿Courier, ﻿Lato-Regular, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 25px;
    color: rgba(61, 61, 61, 255);
    text-align: left;
    margin-left: 200px;
    line-height: 58px;
    transition: all 2s;
}
.c-p6{
    font-family: ﻿Courier, ﻿Lato-Regular, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 18pt;
    color: rgba(61, 61, 61, 255);
    text-align: left;
    margin-left: 50px;
    line-height: 58px;
    transition: all 2s;
}
.c-p8{
    text-align: center;
}
/*Стрелочка возле hello*/
.hover-img{
    display: none;
    width: 10px;
    height: 5px;
    margin-top: 20px;
}
.a-hov:hover+img{
    display: block;
}
.c-p6:hover+img{
    display: block;
}
.a-hov:hover{
    cursor:pointer;
    color:rgba(241, 177, 40, 255);
}
.c-p6:hover{
    cursor:pointer;
    color:rgba(241, 177, 40, 255);
}
/*Стрелочка возле hello*/
.c-p1_1{
    text-align: center;
    margin-top: 130px;
}
.c-p2_2{
    text-align: center;
    margin-top: 50px;
    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 17pt;
    color: rgba(77, 73, 67, 255);
    text-align: center;
}
/*Работа с child - дивами*/
.c-child{
    display: flex;
    width: 80%;
    margin: auto;
}
.child1{
    width:50%;
    height: 400px;
}
.child1_1{
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    height: 50%;
}
.child1_1img{
    background-image: url(img/pik1.png);
    margin-top: 25px;
    margin-left: 30px;
    width:270px;
    height: 148px;
}
.child1_1 p{
    font-family: 'Roboto Condensed', sans-serif;
}
.child1_2img{
    margin-top: 25px;
    background-image: url(img/pik2.png);
    margin-left: 30px;
    width:270px;
    height: 148px;
}
.child1_3img{
    background-image: url(img/pik3.png);
    margin-left: 30px;
    width:270px;
    height: 148px;
}
.child1_4img{
    background-image: url(img/pik4.png);
    margin-left: 30px;
    width:270px;
    height: 148px;
}
.child-text{
    display: block;
    background-color: #333333;
    width: 117px;
    height: 42px;    
    font-family: ﻿Lato-Regular, ﻿OpenSans, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 16px;
    line-height: 42px;
    color: rgba(255, 255, 255, 255);
    margin-top: 90px;
    margin-left: 20px;
}
.child-text span{
    margin-top: 100px;
    margin-left: 10px;
}
.child1-p{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    margin-left: 25px;
    margin-top: 17px;
}
.child1-p1{
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    color: #f1ad1d;
}
.child1-p2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: rgba(80, 80, 80, 255);
    text-align: justify;
    margin-left:25px;
    margin-top: -4px;
}
.c1-text a{
    height: 51px;
    width: 176px;
    display: block;
    text-align: center;
    background-color: #f1ad1d;
    line-height: 51px; 
    text-decoration:none;
    margin-top: 22px;
    margin-left: 25px;
}
.a-text{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
}
/*-------------------Див 2----------------------*/
.c-div2{
    background-image: url(img/Layer22@1X.png);
    margin-top:30px;
    width: 100%;
    height: 380px;
    border: 1px solid black;
}
.c-div2-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 50%;
    line-height: 280px;
    text-align: center;
}
.c-div2-text1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #f1ad1d;
    text-transform: uppercase;
}
.c-div2 img{
    display: block;
    margin: auto;
}
/*-------------------Див 3----------------------*/
.c-div3{
    width: 100%;
    height:873px;
    margin-top: 150px;
}
.child-div3{
    width: 100%;
    height: 30%;
}
.child-div3-p{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}
.child-div3-p1{
    text-align: center;
    margin-top: 20px;
    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 22px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
}
.child-div3-p2{
    text-align: center;
    margin-top: 60px;
}
/*-------------------Див 3 child1----------------------*/
.child-of-child1-div3{
    display: flex;
    margin:auto;
    width: 78%;
    height: 178px;
    flex-wrap:wrap
}
.c-of-c1-d3-text1{
    display: block;
    background-color: #333333;
    width: 147px;
    height: 42px;    
    font-family: ﻿Lato-Regular, ﻿OpenSans, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 16px;
    line-height: 47px;
    color: rgba(255, 255, 255, 255);
    margin-top: 116px;
    margin-left: 20px;
}
.child-of-child1-div3 div{
    width: 193px;
    height: 178px;
}
.diana-span{
    color: #f1ad1d;
    margin-left: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.c-of-c1-d3-text1 span:not(.diana-span){
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.c-of-c1-d3-img{
    background-image: url(img/pik5.png);
    margin-right: 2px;
    margin-bottom: 2px;
}
.c-of-c1-d3-img1{
    background-image: url(img/pik6.png);
    margin-right: 2px;
    margin-bottom: 2px;
}
.c-of-c1-d3-img2{
    background-image: url(img/pik7.png);
    margin-right: 2px;
    margin-bottom: 2px;
}
.c-of-c1-d3-img3{
    background-image: url(img/pik8.png);
    margin-right: 2px;
    margin-bottom: 2px;
}
.c-of-c1-d3-img4{
    background-image: url(img/lostpik.png);
    margin-right: 2px;
    margin-bottom: 2px;
}
.c-of-c1-d3-img5{
    background-image: url(img/pik9.png);
    margin-right: 2px;
    margin-bottom: 2px;
}
.c-of-c1-d3-img6{
    background-image: url(img/pik10.png);
    margin-right: 2px;
}
.c-of-c1-d3-img7{
    background-image: url(img/pik11.png);
    margin-right: 2px;
}
.c-of-c1-d3-img8{
    background-image: url(img/pik12.png);
    margin-right: 2px;
}
.c-of-c1-d3-img9{
    background-image: url(img/pik13.png);
    margin-right: 2px;
}
.c-of-c1-d3-img10{
    background-image: url(img/pik14.png);
    margin-right: 2px;
}
.c-of-c1-d3-img11{
    background-image: url(img/pik15.png);
    margin-right: 2px;
}


.gold-secret{
    text-transform: uppercase;
    margin-bottom: -36px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgba(51, 51, 51, 255);
}
.c-p4{
    margin-top: 31px;
    text-align: center;
    margin-bottom:100px ;
}
/*------------------------------fourdivs----------------------------*/
.fourdivs{
    display: flex;
    margin:auto;
    width: 78%;
    height: 421px;
}
.fourdivs .col{
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 2px solid black;
    width: 20%;
    height: 100%;
}
.div-design{
    margin:0px;
    width: 100%;
    height: 56px;
    background-color: #333333;
    line-height: 56px;
}
.div-design p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.div-design span{
    color: #f1ad1d;
}
.lampa{
    text-align: center;
    margin-top: 25px;
}
.text{
    margin-top: 26px;
    text-align: center;
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
}
.text-two{
    margin-top: 37px;
    text-align: center;
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
}
.text-three{
    margin-top: 22px;
    text-align: center;
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
}
.text-four{
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
}
.img-of-col{
    text-align: center;
    margin-top: 15px;
}
.img-of-col1{
    text-align: center;
    margin-top: 35px;
}
.img-of-col2{
    text-align: center;
    margin-top: 35px;
}
.img-of-col3{
    text-align: center;
    margin-top: 0px;
}
.text1{
    margin-bottom:7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: rgba(80, 80, 80, 255);
    text-align: center;
}
.text2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
    text-align: center;
}
/*------------------------------fon2----------------------------*/
.fon2{
    background-image: url(img/фон.png);
    height: 475px;
    width: 100%;
    margin-top: 200px;
}
.featured-on{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-top:147px;
    text-transform: uppercase;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.featured-on span{
    color: #f1ad1d;
}
.div-logo{
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 80%;
}
.div-logo p{
    margin: auto;
}
.what-they-said{
    text-transform: uppercase;
    margin-top: 210px;
    margin-bottom: -36px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgba(51, 51, 51, 255);
}
.line1{
    margin-top: 41px;
    text-align: center;
    margin-bottom:100px ;
}
/*------------------------three-zaps-----------------------------*/
.three-zaps{
    width: 78%;
    height: 215px;
    margin:auto;
    display: flex;
    margin-bottom: 300px;
}
.three-zaps .col{
    height: 100%;
    padding: 0px;
}
.three-zaps .col .col-zaps-child{
    width: 314px;
    border: 2px solid #f1ad1d;
    float: right;
    margin-top: 34px;
}
.three-zaps .col .the-best-template{
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 17px;
    color: rgba(91, 91, 91, 255);
    text-align: justify;
}
.col-zaps-child1{
    display: flex;
    width: 100%;
    height: 35%;
    border-top: 2px solid black;
}
.thomas{
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgba(49, 49, 49, 255);
    margin: 0px;
}
.paragraf-thomas{
    margin-top: 28px;
    margin-left: 11px;
}
.who-is-thomas{
    margin: 0px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(91, 91, 91, 255);
}
.col-zaps-child1 img{
    width: 60px;
    height: 52px;
    margin-top: 18px;
}
/*-----------------------------input1---------------------------*/
.email{
    width: 63%;
    margin: auto;
    margin-top: -50px;
    height: 64px;
}
.email-input{
    height: 64px;
    border-radius: 0px;
    padding-left: 25px;
}
.email-button{
    border-radius: 0px;
    width: 172px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: #f1ad1d;
    border: none;
}
.email-button:hover{
    background-color: orangered;
}
.email-input::placeholder{
    font-style: italic;
}
/*----------------------------registration-----------------------*/
.registration{
    width: 78%;
    height: 500px;
    display: flex;
    margin: auto;
}
/*----------------------registration-child-----------------------*/
.registration-child{
    width: 59%;
    height: 100%;
}
.registration-child1{
    margin-left: 267px;
    width: 28%;
    height: 100%;
}
.message{
    background-color: black;
    width: 380px;
    height:56px;
}
.message p{
    line-height: 56px;
    margin-left:15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
.message span{
    color:#f1ad1d ;
}
.reg-child-p{
    color: rgba(80, 80, 80, 1);
    margin-top:15px;
}
.registration-child form{
    margin-top: 20px;
}
.email-reg{
    border-radius: 0px;
}
.text-reg{
    border-radius: 0px;
    height: 184px !important;
    resize: none; 
}
.password-reg{
    border-radius: 0px;
}
.div-reg{
    width: 300px;
    margin-left: 5px;
}
.div-reg1{
    width: 300px;
    margin-left: 20px;
}
.div-reg2{
    margin-top: 5px;
}
.registration-child form textarea::placeholder{
    font-style: italic;
}
.registration-child form input::placeholder{
    font-style: italic;
}
.registration-child button{
    width: 118px;
    height: 43px;
    text-transform: uppercase;
}
/*---------------------registration-child1-----------------------*/
.get-in-touch{
    background-color: black;
    width: 100%;
    height:56px;
}
.get-in-touch p{
    line-height: 56px;
    margin-left:15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
.get-in-touch span{
    color:#f1ad1d ;
}
.contact{
    display: flex;
    width: 100%;
    height:155px;
}
.icons-div{
    background-image: url(img/point.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 32px;
    background-color: black;
    margin-top: 0px;
}
.icons-div1{
    background-color: black;
    background-image: url(img/phone.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 32px;
    margin-top: 10px;
}
.icons-div2{
    background-color: black;
    background-image: url(img/message.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 32px;
    margin-top: 10px;
}
.icons-div3{ 
    background-color: black;
    background-image: url(img/planet.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 32px;
    margin-top: 10px;
}
.cont-info-p{
    margin-left: 6px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin-top: 5px;
    color: rgba(80, 80, 80, 1);
}
.cont-info-p1{
    display: inline-block;
    margin-left: 6px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin-top: 7px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.cont-info-p2{
    display: inline-block;
    margin-left: 6px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin-top: 22px;
    color: rgba(80, 80, 80, 1);
    text-decoration: none;
}
.follow-us{
    background-color: black;
    width: 100%;
    height:56px;
    margin-top: 50px;
}
.follow-us p{
    line-height: 56px;
    margin-left:15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
.follow-us span{
    color:#f1ad1d ;
}
.soc{
    margin-top:20px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.soc-div1{
    background-image: url(img/facebook.png);
    width: 45px;
    height: 40px;
}
.soc-div2{
    background-image: url(img/twiter.png);
    width: 45px;
    height: 40px;
}
.soc-div3{
    background-image: url(img/google.png);
    width: 45px;
    height: 40px;
}
.soc-div4{
    background-image: url(img/wifi.png);
    width: 45px;
    height: 40px;
}
/*------------------------------bird----------------------------*/
.bird{
    width: 100%;
    height: 485px;
    background-image: url(img/fon.png);
    margin-top: 141px;
}
.text-fon{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 596px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.text-fon span{
    color: #f1ad1d;
}
/*-----------------------------images----------------------------*/
.images{
    display: flex;
    width: 78%;
    justify-content: space-between;
    margin: auto;
}
/*-----------------------------goods----------------------------*/
.goods{
    display: flex;
    margin: auto;
    width: 78%;
    height: 726px;
}
.goods .col{
    padding: 0px;
    border-bottom: 3px solid black ;
}
.div-goods{
    width: 100%;
    height: 361px;
    border-bottom: 3px solid black;
}
.cookies{
    width: 100%;
    height: 181px;
    background-image: url(img/cookies.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pan-div{
    display: flex;
    margin-top: 6px;
}
.pan-div img{
    height: 32px;
}
.pan-div p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(51, 51, 51, 255);   
    margin-top: 4px;
    margin-left: 10px;
}
.pan-text{
    height: 78px;
    border-bottom: 1px solid #676767; 
    margin: 0px;
    margin-top: -1px;
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
}
.pan-text-problem{
    height: 79px;
    border-bottom: 1px solid #676767;
    margin: 0px;
    margin-top: 9px;
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
}
.pan-text1{
    margin: 0px;
    margin-top: 5px;
    font-size: 14px;
    color: rgba(130, 130, 130, 1);
    text-transform: uppercase;
}
.pan-text2{
    text-transform: uppercase;
    margin: 0px;
    margin-top: -20px;
    font-size: 14px;
    color: rgba(130, 130, 130, 1);
    float: right;
}

.waterfall{
    margin-top: 20px;
    width: 100%;
    height: 181px;
    background-image: url(img/waterfall.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.height-for-goodscol{
    height: 650px;
}
.lamp{
    width: 100%;
    height: 215px;
    background-image: url(img/lamp.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pan-text4{
    height: 78px;
    margin: 0px;
    margin-top: -7px;
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
}
.pan-text3{
    margin: 0px;
    height: 57px;
    margin-top:-8px;
    font-size: 14px;
    color: rgba(80, 80, 80, 1);
    border-bottom: 1px solid #676767; 
}
.div-goods2{
    width: 100%;
    height: 423px;
    border-bottom: 3px solid black;
}
.div-goods3{
    margin-top: 15px;
}
.div-black{
    width: 100%;
    height: 45px;
    background-color: black;
}
.date{
    margin-top: 6px;
}
.height-for-goodscol1{
    height: 700px;
}
.cars{
    width: 100%;
    height: 191px;
    background-image: url(img/cars.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.business{
    width: 100%;
    height: 151px;
    background-color: #dbdbdb;
    margin-top: 18px;
}
.business-p{
    font-size: 26px;
    margin-left: 13px;
    font-style: italic;
    color: rgba(102, 102, 102, 1);
    padding-top: 8px;
}
.business-p1{
    margin-left: 13px;
    margin-top: -16px;
    font-size: 12px;
    color: rgba(156, 155, 155, 1);
}
.business img{
    position: relative;
    top: -73px;
    left: 299px;
}
.load-more a{
    margin: auto;
    height: 51px;
    width: 176px;
    display: block;
    text-align: center;
    background-color: #f1ad1d;
    line-height: 51px; 
    text-decoration:none;
    margin-top: 100px;
}
.a-text{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
}
.theme{
    width: 100%;
    height: 380px;
    background-image: url(img/tree.png);
    margin-top: 141px;
}
.start-bussiness{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-top:107px;
    text-transform: uppercase;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.start-bussiness span{
    color:#f1ad1d ;
}
.buy-now a{
    margin: auto;
    height: 51px;
    width: 176px;
    display: block;
    text-align: center;
    border: 1px solid white;
    line-height: 51px; 
    text-decoration:none;
    margin-top: 50px;
}
.buy-now-a{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: white;
}
.repeating-header{
    margin-top: 100px;
}
/*-----------------------------buttons---------------------------*/
.buttons{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
.buy-now-a1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: rgba(17, 17, 17, 1);
}
.button1 a{
    width: 87px;
    height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 1);
    line-height:39px; 
    text-decoration:none;
}
.button2 a{
    width: 141px;
    height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 1);
    line-height:39px; 
    text-decoration:none;
}
.button3 a{
    width: 160px;
    height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 1);
    line-height: 39px; 
    text-decoration:none;
}
.button4 a{
    width: 111px;
    height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 1);
    line-height: 39px; 
    text-decoration:none;
}
.button5 a{
    width: 107px;
    height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 1);
    line-height: 39px; 
    text-decoration:none;
}
.button6 a{
    width: 139px;
    height: 39px;
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid rgba(17, 17, 17, 1);
    line-height:39px; 
    text-decoration:none;
}

.button1 a:hover{
    background-color:black;
}
.button1 a:hover .buy-now-a1{
    color: orange ;
}

.button2 a:hover{
    background-color:black;
}
.button2 a:hover .buy-now-a1{
    color: orange ;
}

.button3 a:hover{
    background-color:black;
}
.button3 a:hover .buy-now-a1{
    color: orange ;
}

.button4 a:hover{
    background-color:black;
}
.button4 a:hover .buy-now-a1{
    color: orange ;
}

.button5 a:hover{
    background-color:black;
}
.button5 a:hover .buy-now-a1{
    color: orange ;
}

.button6 a:hover{
    background-color:black;
}
.button6 a:hover .buy-now-a1{
    color: orange ;
}
/*---------------------grid-footer---------------------------*/
.grid-footer{
    margin: auto;
    margin-top: 45px;
    display: grid;
    width: 80%;
    height: 840px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.p-grid{
    margin-top:40px;
    text-align: center;
    font-size: 18px;
    color: rgba(17, 17, 17, 255);
    font-family: 'Roboto Condensed', sans-serif;
}
.p-grid1{
    font-size: 14px;
    color: rgba(91, 91, 91, 255);
    text-align: center;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 28px;
    width: 85%;
}
.div-grid1 hr{
    display: block;
    background-color: #f1ad1d;
    margin: auto;
    width: 64px;
    height: 1px;
    margin-top: 25px;
}
.button-grid a{
    margin: auto;
    height: 39px;
    width: 141px;
    display: block;
    text-align: center;
    background-color: #f1ad1d;
    line-height: 39px; 
    text-decoration:none;
    margin-top: 27px;
}
.div-grid1{
    border: 1px solid black;
}

.div-grid-img{
    background-image: url(img/grid-img1.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img1{
    background-image: url(img/grid-img2.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img2{
    background-image: url(img/grid-img3.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img3{
    background-image: url(img/grid-img4.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img4{
    background-image: url(img/grid-img5.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img5{
    background-image: url(img/grid-img6.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img6{
    background-image: url(img/grid-img7.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img7{
    background-image: url(img/grid-img8.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img8{
    background-image: url(img/grid-img9.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img9{
    background-image: url(img/grid-img10.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.div-grid-img10{
    background-image: url(img/grid-img11.png);
    background-repeat: no-repeat;
    background-size:cover;
}
/*----------------------------footer---------------------------*/
footer{
    margin-top: 80px;
    width: 100%;
    height: 150px;
}
.footer-section{
    width: 100%;
    height: 40%;
    background-color: #333333;
}
.footer-p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-top: 13px;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.footer-p span{
    color: #f1ad1d;
}
.footer-section1{
    width: 100%;
    height: 60%;
}
.footer-section1 p{
    padding-top: 33px;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}