body{
    margin:0px;
}
.header{
    background-color: #131210;
    width: 100%;
    height: 1000px;
}
.h-top{
    display: flex;
    width: 90%;
    height: 100px;
    margin: auto; 
}
.h-topimg{
    margin-top: 40px;
}
.h-topimg1{
    width: 32px;
    height: 26px;
    margin-top: 50px;
    margin-left: 500px;
}
.h-topimg2{
    width: 32px;
    height: 26px;
    margin-top: 50px;
    margin-left: 100px;
}
.h-top a{
    height: 55px;
    width: 124px;
    display: block;
    margin-top: 30px;
    margin-left:100px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    line-height: 55px; 
    margin-bottom: 20px;
    text-decoration:none;
}
.a-span{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: rgba(19, 94, 197, 255);
}
a:visited{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: rgba(19, 94, 197, 255);
}
.h-span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    font-weight:bold;
    margin-top: 50px;
    margin-left: 10px;
}
.h-center{
    width: 100%;
    height: 750px;
}
.h-center img{
    position: relative;
}
.img-hcenter{
    filter: brightness(1.5);
    margin-left: 230px;
    bottom:-70px;
    width: 1100px;
}
.img-hcenter1{
    margin-left:350px;
    top:-100px;
}
.h-center p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    margin-top: -50px;
}
.h-footer{
    display: flex;
    width: 85%;
    height: 200px;
    margin:auto;
}
.p-footer{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: rgba(60, 60, 60);
    font-weight:bold;
    margin-left: 100px;
    height: 40px;
    width: 200px;
    border-bottom: 1px solid rgba(60, 60, 60);;
}
.h-footer a{
    height: 55px;
    width: 200px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: #135ec5;
    line-height: 55px; 
    text-decoration:none;
    margin-top: 20px;
    margin-left: 100px;
}
.f-span{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: white;
}

/*---------------------РАБОТА С ЦЕНТРАЛЬНЫМ БЛОКОМ------------*/

.center{
    width: 100%;
    height:3200px;
}
.first-p{
    text-align: center;
    font-size: 22px;
    color: #c1c1c1;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
}
.car-marks{
    width: 100%;
    height: 130px;
    margin: auto;
    margin-top: 40px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
}
.mark{
    margin-left: 120px;
}
.mark1{
    margin-left: 100px;
}
/*-------------------------Работа с дивом2----------------------*/
.c-div2{
    display: flex;
    width: 100%;
    height:290px ;
    margin-top: 130px;
}
.bmwseries{
    width: 50%;
    height: 100%;
}
.c-text{
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
}
.bmwseries img{
    position: relative;
}
.bmwback{
    filter: drop-shadow(2px 2px 5px rgb(78, 18, 18, 0.3));
    height: 160px;
    width: 600px;
    margin-left: 120px;
}
.bmwfront{
    top: -140px;
    margin-left: 120px;
}
.c-text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.c-text1{
    color:#135ec5;
    font-size: 50px;
    margin:0px;
    margin-left: 60px;
}
.c-text2{
    color:rgba(125, 155, 216, 0.4);
    font-size: 19px;
    margin:0px;
    margin-left: 60px;
    margin-top: 40px;

}
.c-text a{
    height: 55px;
    width: 214px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: #135ec5;
    line-height: 55px; 
    text-decoration:none;
    margin-top: 50px;
    margin-left: 60px;
}
.a-text{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    color: white;
}
/*----------------------Работа с дивом блу-----------------------*/
.div-blue{
    width: 100%;
    height: 541px;
    background-color:#135ec5 ;
    margin-top: 150px;
}
.div-blue p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 55px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}
.div-blue a{
    height: 55px;
    width: 200px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #135ec5;
    line-height: 55px; 
    text-decoration:none;
    margin: auto;
    margin-top: 90px;
}
.blu-text{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    color: white;
}
.div-blue img{
    display: block;
    margin: auto;
    margin-top: 80px;
}
/*---------------------Работа с 3 дивом----------------------*/
.div3{
    margin: auto;
    margin-top: 200px;
    width: 85%;
    height: 683px;
    display: flex;
}
.car-buy{
    width: 40%;
    height: 100%;
    margin-left: 5px;
}
.car-buy-son{
    width: 70%;
    height: 80%;
    margin-top: 100px ;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.car-buy-blue{
    width: 100%;
    height: 40%;
    border-bottom:1px solid black;
    background-color: #125bc0;
}
.car-buy-white{
    width: 100%;
    height: 35%;
}
.car-buy-blue p{
    text-transform: uppercase;
    color: #135ec5;
    width: 100%;
    height: 113px;
    font-size:125px;
    margin: 0px;
    margin-left: -9px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.car-buy-blue img{
    display: block;
    position: relative;
    margin: auto;
    top:-20px;
}
.car-buy-white-p{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 255);
    padding-top:30px;
}
.car-buy-white-p1{
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: rgba(19, 94, 197, 255);
    margin-top: -10px;
}
.car-buy-white-p2{
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: rgba(19, 94, 197, 255);
    margin: -20px;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    margin-top: 30px;
}
.car-buy-bottom{
    display: flex;
}
.car-buy-bottom-p{
    margin-left: 20px;
    font-size: 30px;
    color: rgba(22, 173, 44, 255);
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.car-buy-bottom a{
    height: 55px;
    width: 180px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #e2e2e2;
    line-height: 55px; 
    text-decoration:none;
    margin: auto;
    margin-top: 20px;
}
.car-buy-bottom-a{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    color: white;
}
.car-buy1{
    display: flex;
    width: 60%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.car-buy1-left{
    width:55%;
    height: 100%;
}
.car-buy1-right{
    width:45%;
    height: 100%;
    background-color: #135ec4;
}
.car-buy1-right a{
    height: 30px;
    width: 100px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    line-height: 30px; 
    text-decoration:none;
    margin: auto;
    margin-top: 30px;
    margin-left:220px ;
}
.car-buy1-right-a{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #135ec4;
}
.car-buy1-right img{
    margin-top: 80px;
    position: relative;
    left: -81px;
    width: 429px;
}
.car-buy1-left-p{
    margin-top: 30px;
    margin-left:40px;
    font-size: 17px;
    color: rgba(226, 226, 226, 255);
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.car-buy1-left-p1{
    float: right;
    margin-top: -44px;
    margin-right: 40px;
    font-size: 30px;
    color: rgba(22, 173, 44, 255);
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.car-buy1-left-p2{
    margin-top: 100px;
    margin-left:40px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    color: rgba(19, 94, 197, 255);
}
.car-buy1-left-p3{
    margin-top: 40px;
    margin-left:40px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: rgba(193, 193, 193, 255);
}
.car-buy1-left a{
    height: 55px;
    width: 200px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #135ec5;
    line-height: 55px; 
    text-decoration:none;
    margin: auto;
    margin-top: 150px;
    margin-left:40px ;
}
.car-buy1-left-a{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: white;
}
/*--------------------Див 4---------------------*/
.div4{
    width: 70%;
    height: 664px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    margin: auto;
    margin-top: 140px;
}
.div4-white{
    width: 100%;
    height: 55%;
    border-bottom: 1px solid black;
}
.div-of-white{
    height: 100px;
    width: 100%;
    display: flex;
}
.div-of-white1{
    margin-top: 30px;
    height: 100px;
    width: 100%;
    border-top: 1px solid rgba(193, 193, 193, 0.3);
}
.div-of-white2{
    height: 103px;
    width: 100%;
    display: flex;
}
.div-of-white-p{
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white-p1{
    margin-left:40px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white-p2{
    display: flex;
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white-p3{
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white-p2 img{
    height: 23px;
    margin-left: 71px;
}
.mark1-1{
    margin-top:30px;
    margin-left: 40px;
    height: 43px;
}
.mark2{
    margin-top:30px;
    margin-left: 90px;
    height: 43px;
}
.div-of-white2-p{
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white2-p1{
    margin-left:40px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white2-p2{
    display: flex;
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white2-p3{
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(193, 193, 193, 255);
    width: 230px;
    height: 30px;
    border-bottom:1px solid rgba(193, 193, 193, 255) ;
}
.div-of-white3{
    height: 50px;
    width: 187px;
    border-radius: 20px;
    margin: auto;
    background-color: #135ec5;
}
.div-of-white3 p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin:0px;
    padding-top:10px ;
}
.div4-blue{
    width: 100%;
    height: 45%;
    background-color:#135ec5 ;
}
.div-of-blue{
    height: 60%;
    width:100%;
}
.div-son-blue{
    display: flex;
    height: 50%;
}
.div-son1-blue{
    display: flex;
    height: 50%;
}
.div-of-blue-p{
    margin-left:40px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4e7cce;
    width: 230px;
    height: 30px;
    border-bottom:1px solid #4e7cce ;
}
.div-of-blue-p1{
    margin-left:40px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 230px;
    height: 30px;
    border-bottom:1px solid #4e7cce ;
}
.div-of-blue-p2{
    display: flex;
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4e7cce;
    width: 230px;
    height: 30px;
    border-bottom:1px solid #4e7cce ;
}
.div-of-blue-p3{
    margin-left:30px;
    margin-top: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4e7cce;
    width: 230px;
    height: 30px;
    border-bottom:1px solid #4e7cce ;
}
.div-of-blue a{
    height: 50px;
    width: 170px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    line-height: 50px; 
    text-decoration:none;
    margin: auto;
    margin-top: 30px;
}
.div-of-blue-a{
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #135ec4;
}