.img1{
    text-align: center;
}
.div2{
    background-image: url(img/rabstol_net_sea_26.jpg);
    height: 700px;
    background-size: 100%;
}
.h3{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
}
.h4{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
}
.div-h4{
    width: 70%;
    margin: auto;
}
.div3{
    width: 20%;
    margin: auto;
}
.footer{
    height: 100px;
}

