.header{
    /*border:1px solid black;*/
    width: 90%;
    height:200px;
    margin:auto;
}
.ramda{
    margin-top: 20px;
}
.menu{
    display: flex;
    background-image: url(img/top-menu-fon@1X.png);
    margin-top: 20px;
    width: 100%;
    height: 69px;
}
.div1{
    margin-left: 130px;
}
.img1{
    padding-top: 25px;
}
.div2{
    background-image: url(img/link@1X.png);
    margin-left: 130px;
}
.main{
    display: flex;
    margin-top: 30px;
    height: 500px;
}
.left{
    width: 20%;
    height: 330px;
    border: 1px solid black;
}
.img2{
    margin-top: 30px;
    margin-left: 40px;
}
.img3{
    margin-top: 30px;
}
.right{
    border: 1px solid black;
    width: 80%;
    height:500px;
    margin-left: 40px;
}
.top-img{
    text-align: center;
    margin-top:50px;
}
.text{
    width:1000px;
    float:right;
}
.text1{
    margin-right: 20px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
}
.text2{
    margin-top: 40px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
}
.footer{
    background-image: url(img/back\ footer@1X.png);
    margin-top: 400px;
    width: 100%;
    height:70px;
}
.last{
    margin-top:20px;
    margin-left: 40px;
}
.last1{
    margin-top:20px;
    margin-left: 200px;
}