body{
    margin: 0px;
}
/*-----------------------header-------------------------------*/
header .navbar{
    width: 70%;
    margin: auto;
    background-color: white;
}
header .navbar-brand{
    font-family: ﻿PlayfairDisplay-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    color: rgba(17, 17, 17, 1);
    margin: 0px;
    margin-top: 5px;
}
header .navbar-brand span{
    color: orangered;
}
header .collapse{
    margin-left: 20px;
}
header .nav-link{
    color: rgba(17, 17, 17, 255) !important;
    text-transform: uppercase;
}
.margin-left-215px{
    margin-left: 215px;
}
header .nav-link:hover{
    border-bottom: 2px solid orangered;
    padding-top: 6px;
}
/*----------------------main---------------------------------*/
.man{
    background-image: url(img/man.png);
    background-size: cover;
    width: 100%;
    height: 840px;
    margin-top: 18px;
}
/*----------------------info---------------------------------*/
.info{
    width: 65%;
    height: 450px;
    margin: auto;
    margin-top: 40px;
}
.about-us{
    width: 100%;
    height: 170px;
}
.history-expertise{
    display: flex;
    width: 100%;
    height: 279px;
}
.text-about-us{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 31px;
    color: rgba(17, 17, 17, 1);
    margin: 0px;
    padding-left: 20px;
    border-left: 2px solid orangered;
}
.text-about-us-full{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 21px;
    color: rgba(102, 102, 102, 1);
    padding-left: 20px;
    border-left: 2px solid orangered;
}
.history{
    display: flex;
    width: 50%;
    height: 100%;
}
.text-history{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    font-size: 21px;
    color: rgba(17, 17, 17, 1);
}
.two016{
    font-weight: bold;
    font-size: 21px;
    color: rgba(17, 17, 17, 1);
    margin-top: 42px;
}
.two015{
    font-weight: bold;
    font-size: 21px;
    color: rgba(17, 17, 17, 1);
    margin-top: 32px;
}
.two015-text{
    font-size: 16px;
    color: rgba(17, 17, 17, 1);
    text-align: left;
    margin: 0px;
    margin-top: 59px;
    margin-left: 20px;
}
.two016-text{
    font-size: 16px;
    color: rgba(17, 17, 17, 1);
    text-align: left;
    margin: 0px;
    margin-top: 25px;
    margin-left: 20px;
}
.expertise{
    width: 45%;
    height: 100%;
    margin-left: 20px;
}
.expertise-text{
    font-size: 15px;
    color: rgba(102, 102, 102, 255);
}

/*----------------------practis---------------------------------*/

.practice{
    width: 65%;
    height: 650px;
    margin: auto;
    margin-top: 40px;
    padding-top: 100px;
}
.section-practice{
    width: 100%;
    height: 748px;
    background-color: black;
    margin-top: 100px;
}
.area{
    width: 100%;
    height: 170px;
}
.text-area{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 31px;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    padding-left: 20px;
    border-left: 2px solid orangered;
}
.text-area-full{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 21px;
    color: rgba(102, 102, 102, 1);
    padding-left: 20px;
    border-left: 2px solid orangered;
}
.comfort{
    display: flex;
    width: 110%;
    height: 370px;
}
.service{
    display: flex;
    width: 700px;
    height: 100%;
}
.text-service{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    font-size: 21px;
    color: rgba(17, 17, 17, 1);
}
.text-service1{
    font-weight: bold;
    font-size: 21px;
    color: rgba(17, 17, 17, 1);
    margin-top: 32px;
}
.text-service{
    font-size: 21px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
    margin-top: 11px;
    margin-left: 25px;
}
.text-service1{
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    margin-left: 25px;
    margin-top: 10px;
}
.text-service2{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    font-size: 21px;
    color: rgba(255, 255, 255, 255);
    margin-top: 55px;
    margin-left: 25px;
}
.expertise1{
    display: flex;
    width: 500px;
    height: 100%;
    margin-left: 113px;
}
.expertise-text{
    font-size: 15px;
    color: rgba(102, 102, 102, 255);
}
.img-service img{
    margin-top: 20px;
    margin-left: 100px;
}
.img-service1 img{
    margin-top: 130px;
    margin-left: 100px;
}

.text-expertise{
    font-size: 21px;
    color: rgba(255, 255, 255, 255);
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 25px;
    text-transform: uppercase;
}
.img-expertise img{
    margin-top: 20px;
}
.img-expertise1 img{
    margin-top: 130px;
}

/*----------------------attorney---------------------------------*/

.child-attorney{
    width: 65%;
    height: 650px;
    margin: auto;
    margin-top: 40px;
    padding-top: 100px;
}
.section-practice{
    width: 100%;
    height: 748px;
    background-color: black;
    margin-top: 100px;
}
.child-attorney + div{
    width: 100%;
    height: 400px;
}
.meet{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 31px;
    color: black;
    margin: 0px;
    padding-left: 20px;
    border-left: 2px solid orangered;
}
.meet1{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 21px;
    color: rgba(102, 102, 102, 1);
    padding-left: 20px;
    border-left: 2px solid orangered;
}
.advocats{
    width: 100%;
    height: 380px;
    margin-top:40px;
}
.adam{
    display: inline-block;
    width: 235px;
    height: 255px;
    background-image: url(img/man1.png);
    background-position: -70px;
}
.lina{
    display: inline-block;
    width: 235px;
    height: 255px;
    background-image: url(img/lina.png);
    margin-left: 10px;
}
.jems{
    display: inline-block;
    width: 235px;
    height: 255px;
    background-image: url(img/jens.png);
    background-position: -293px;
    margin-left: 10px;
}
.linister{
    display: inline-block;
    width: 235px;
    height: 255px;
    background-image: url(img/linister.png);
    margin-left: 10px;
}
.names{
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 20px;
}
.child-names1{
    margin-left: 122px;
}
.child-names2{
    margin-left: 136px;
}
.child-names3{
    margin-left: 146px;
}
.names-p{
    font-family: ﻿OpenSans, ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    font-size: 22px;
    color: rgba(17, 17, 17, 255);
    margin: 0px;
}
.names-p2{
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*----------------------attorney---------------------------------*/

.clients{
    width: 100%;
    height: 748px;
    background-color: black;
    margin-top: 100px;
}
.area1{
    width: 100%;
    height: 175px;
}
.clients-child{
    padding-top: 100px;
    width: 65%;
    margin: auto;
}
.clients-child1{
    display: flex;
    width: 100%;
    height: 326px;
}
.clients-text1{
    margin-left: 80px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
}
.clients-text2{
    margin-left: 80px;
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}
.clients-text2 span{
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

/*----------------------public---------------------------------*/

.public-child1{
    padding-top: 100px;
    width: 65%;
    margin: auto;
}
.public-child2{
    display: flex;
    width: 100%;
    height: 577px;
}
.public-child2 .col{
    padding: 0px;
}
.enoy{
    background-image: url(img/enoy.png);
    background-position: -60px;
    height: 299px;
}
.enoy1{
    background-image: url(img/enoy1.png);
    background-position: -60px;
    height: 299px;
}
.enoy2{
    background-image: url(img/enoy2.png);
    background-position: -60px;
    height: 299px;
}
.enoy-p{
    margin: 0px;
    margin-top: 15px;
    font-family: ﻿OpenSans-Italic, ﻿OpenSans, ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight:bold;
    font-size: 21px;
    color: rgba(17, 17, 17, 255);
}
.enoy-p2{
    font-style: italic;
    text-align: right;
    margin: 0px;
    margin-top: -40px;
}
.enoy-p1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.enoy-p1 span{
    font-weight: normal;
    font-family: Arial;
    font-style: italic;
}
.enoy-p3{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    margin-top: 18px;
    font-size: 16px;
    color: rgba(102, 102, 102, 255);
}
.enoy-p4{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: rgba(17, 17, 17, 1);
}
.enoy-p4 a{
    text-decoration: none;
    color: rgba(17, 17, 17, 1);
}
.enoy-p5{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: rgba(17, 17, 17, 1);
    text-align: right;
    margin-top: -42px;
}
.enoy-p5 a{
    text-decoration: none;
    color: rgba(17, 17, 17, 1);
}

/*----------------------------questions---------------------*/

.questions{
    width: 100%;
    height: 748px;
    background-color: black;
    margin-top: 100px;
}
.orrangered-box{
    display: flex;
    width: 111%;
    height: 326px;
}
.q-text{
    height: 40px;
    width: 544px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-bottom:1px solid orangered;
}
.q-text a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.minyc{
    display: none;
}
.q-text span{
    float: right;
}
.q-text a:hover{
    color: rgba(232, 191, 93, 255);
}
.q-text a:focus .plyc{
    display: none;
}
.q-text a:focus .minyc{
    display: inline;
}
.questions-text2{
    margin-left: 50px;
    width: 781px;
    height: 100%;
    background-color: orangered;
}
.q-text2{
    font-size: 20px;
    color: rgba(17, 17, 17, 255);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    margin: 40px;
}

/*----------------------------registration---------------------*/

.registration{
    width:120%;
    display: flex;
}
.registration-child{
    width:40%;
    margin-left: 140px;
}
.registration .registration-child .form-horizontal .form-group .col-xs-10 .form-control{
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
    padding: 0px;
}
.registration .registration-child .form-horizontal .form-group .col-xs-10 .form-control::placeholder{
    color: rgba(185, 185, 185, 255);
    font-style: italic;
}
.registration .registration-child .form-horizontal .form-group .col-xs-10 .form-control-own::placeholder{
    color: rgba(185, 185, 185, 255);
    font-style: italic;
}
.registration .registration-child .form-horizontal .form-group .col-xs-10 .form-control:focus{
    border-color: orangered;
}
.registration .registration-child .form-horizontal .form-group .col-xs-10 .form-control-own:focus{
    border-color: orangered;
}
textarea.form-control-own{
    height: 100px;
}
.registration .registration-child .form-horizontal .form-group .col-xs-10 .btn{
    font-family:﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    font-size: 19px;
    color: rgba(17, 17, 17, 1);
    border-radius: 30px;
    background-color: orangered;
    border-color: orangered;
    width: 170px;
    height: 50px;
}

.registration-child1{
    margin-left: 50px;
    height: 363px;
    width: 363px;
    background-color: orangered;   
    margin-top: 46px;
}
.first-iframe{
    position: relative;
    width: 366px;
    height: 366px;
    top: -19px;
    left: 17px;
}

/*----------------------------footer---------------------*/
footer{
    margin-top: 76px;
    width: 100%;
    height: 81px;
    background-color: black;
}
.into-footer{
    display: flex;
    height: 100%;
    width: 65%;
    margin: auto;
}
.into-footer p{
    font-family: ﻿OpenSans, ﻿Lato-Regular, ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-weight: bold;
    font-size: 16px;
    color: rgba(181, 181, 181, 1);
    line-height: 81px;
}
.into-footer img{
    margin-left: 711px;
    margin-top: 31px;
    height: 16px;
}












